@{
	ViewBag.Title = "Home Page";
}

<@Page Async="true">

<h2>@ViewBag.Message</h2>

<!-- refactored from original template, pushed header content creation out to partial
note page1,2.. used by layout css
-->
<@section PageHeader
{
	<section class="PageHeader">
		<div id="page1">
			<header>
				@Html.Partial("CommonHeader")
			</header>
		</div>
	</section>
}

<@section PageContent1
{
	<section class="col1">

		<h2>News &amp; Events</h2>
		<div class="wrapper pad_bot2">
			<figure class="left marg_right1"><a href="index"><img src="@Url.Content("~/Content/images/page1_img1.jpg")" alt=""></a></figure>
			<p class="pad_bot1 pad_top1"><span class="color1">Tue, June 7, 2011</span></p>
			<p>Nam libero tempore csoluta nobis eieligendi opto cumque nihil impedit quo.</p>
		</div>
		<div class="wrapper pad_bot2">
			<figure class="left marg_right1"><a href="#"><img src="@Url.Content("~/Content/images/page1_img2.jpg")" alt=""></a></figure>
			<p class="pad_bot1 pad_top1"><span class="color1">Sun, June 5, 2011</span></p>
			<p>Minus quod maxime placeat facere possimus voluptas assumenda est omnis.</p>
		</div>
		<div class="wrapper">
			<figure class="left marg_right1"><a href="#"><img src="@Url.Content("~/Content/images/page1_img3.jpg")" alt=""></a></figure>
			<p class="pad_bot1 pad_top1"><span class="color1">Thu, June 2, 2011</span></p>
			<p>Omnis dolor repellendus aut temporibus autem quibus- dam et aut officiis debitis.</p>
		</div>
		</section>
	<section class="col2">
		<h2 class="pad_bot1">What We Offer</h2>
		<div class="wrapper">
			<figure class="left marg_right1"><img src="@Url.Content("~/Content/images/page1_img4.jpg")" alt=""></figure>
			<p class="pad_top1 pad_bot1"><strong class="color1">This is one of <a href="http://blog.templatemonster.com/free-website-templates/" class="link1" target="_blank">free website templates</a> created by TemplateMonster.com</strong></p>
			<p class="pad_bot3">This Pro Soft template is optimized for 1024X768 screen resolution.It has several pages: <a href="index.html">Home Page</a>, <a href="Features.html">Features</a>, <a href="Support.html">Support</a>, <a href="Downloads.html">Downloads</a>, <a href="Contacts.html">Contacts</a> (note that contact us form – doesn’t work).</p>
			<a href="#" class="button right">Read More</a>
		</div>
		<h2 class="pad_bot1 pad_top1">Why Do You Need It?</h2>
		<div class="wrapper">
			<figure class="left marg_right1"><img src="@Url.Content("~/Content/images/page1_img5.jpg")" alt=""></figure>
			<p class="pad_top1 pad_bot1"><strong class="color1">This <a href="http://blog.templatemonster.com/2011/06/20/free-website-template-jquery-carousel-header/" class="link1" target="_blank">Pro Soft Template</a> goes with two packages</strong></p>
			<p class="pad_bot3">With PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD source is available for anyone without registration).</p>
			<a href="#" class="button right">Read More</a>
		</div>
	</section>
}

<@section PageContent2
{
			<section class="col1">
				<h3>Newsletter</h3>
				<form id="newsletter">
					<div>
						<div class="bg">
							<input class="input" type="text" value="Type Your Email Here"  onblur="if(this.value=='') this.value='Type Your Email Here'" onfocus="if(this.value =='Type Your Email Here' ) this.value=''">
						</div>
						<a href="#" class="button" onclick="document.getElementById('ContactForm').submit()">Subscribe</a>
					</div>
				</form>
			</section>
			<section class="col_1">
				<h3>Why Us?</h3>
				<ul class="list1">
					<li><a href="#">Sed ut perspiciatis</a></li>
					<li><a href="#">Unde oiste natus erturor</a></li>
					<li><a href="#">Sit voluptatem accusa</a></li>
				</ul>
			</section>
			<section class="col_2">
				<h3>Follow Us</h3>
				<ul id="icons">
					<li><a href="#"><img src=@Url.Content("~/Content/images/icon1.jpg")" alt="">Facebook</a></li>
					<li><a href="#"><img src="@Url.Content("~/Content/images/icon2.jpg")" alt="">Twitter</a></li>
					<li><a href="#"><img src="@Url.Content("~/Content/images/icon3.jpg")" alt="">LinkedIn</a></li>
				</ul>
			</section>
			<section class="col_1">
				<h3>Address</h3>
				<p class="address">
					<span>
						Country:<br>
						City:<br>
						Email:
					</span>
					USA<br>
					San Diego<br>
					<a href="mailto:">prosoft@mail.com</a>
				</p>
			</section>
}